<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insurance.insurance_backend.mapper.InsurancePlanMapper">

    <sql id="columns">
        id, name, category, description, base_premium, max_coverage,
        min_age, max_age, status, created_at, updated_at,coverage_period
    </sql>

    <select id="findAll" resultType="com.insurance.insurance_backend.entity.InsurancePlan">
        SELECT <include refid="columns"/>
        FROM insurance_plans
        <where>
            <if test="category != null and category != ''">
                category = #{category}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="findById" resultType="com.insurance.insurance_backend.entity.InsurancePlan">
        SELECT <include refid="columns"/>
        FROM insurance_plans
        WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO insurance_plans
            (name, category, description, base_premium, max_coverage,
             min_age, max_age, status, coverage_period)
        VALUES
            (#{name}, #{category}, #{description}, #{basePremium}, #{maxCoverage},
             #{minAge}, #{maxAge}, #{status}, #{coveragePeriod})
    </insert>

    <update id="update">
        UPDATE insurance_plans
        SET name         = #{name},
            category     = #{category},
            description  = #{description},
            base_premium = #{basePremium},
            max_coverage = #{maxCoverage},
            min_age      = #{minAge},
            max_age      = #{maxAge},
            status       = #{status},
            coverage_period = #{coveragePeriod}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM insurance_plans WHERE id = #{id}
    </delete>

    <select id="findEligiblePlans" resultType="com.insurance.insurance_backend.entity.InsurancePlan">
        SELECT <include refid="columns"/>
        FROM insurance_plans
        WHERE base_premium &lt;= #{budgetLimit}
        AND min_age &lt;= #{age}
        AND max_age &gt;= #{age}
        AND category IN
        <foreach item="item" collection="categories" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findTagsByPlanId" resultType="string">
        SELECT t.tag
        FROM insurance_plan_tags pt
        JOIN insurance_tags t ON pt.insurance_tags_id = t.id
        WHERE pt.insurance_plan_id = #{planId}
    </select>

    <select id="selectCandidates" resultType="com.insurance.insurance_backend.entity.InsurancePlan">
        SELECT
            id, name, category, description, base_premium, max_coverage,
            min_age, max_age, status, created_at, updated_at, coverage_period
        FROM insurance_plans
        WHERE status = 'ACTIVE'

        <if test="cond.age != null">
            AND #{cond.age} BETWEEN min_age AND max_age
        </if>

        <if test="cond.budgetLimit != null">
            AND base_premium &lt;= #{cond.budgetLimit}
        </if>

        <if test="cond.categories != null and cond.categories.size() > 0">
            AND category IN
            <foreach collection="cond.categories" item="c" open="(" separator="," close=")">
                #{c}
            </foreach>
        </if>

        <if test="cond.schedule != null and cond.schedule != ''">
            AND coverage_period = #{cond.schedule}
        </if>

        ORDER BY id ASC
    </select>
</mapper>
